
name: Build
on:
  #push:
  #  branches: [ "master" ]
  #pull_request:
  #  branches: [ "master" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install docker
        run: >
          sudo apt update -y -qqq;
          sudo apt autoremove --purge -y needrestart || true;
          sudo apt install -y bash wget openssl;
          sudo ln -svf bash /bin/sh;
          sudo /bin/bash scripts/clean-os.sh;
          sudo apt upgrade -y -qqq;
          sudo /bin/bash scripts/install-docker.sh

      - name: Create output tmp
        run: |
          /bin/rm -fr /tmp/_output.tmp
          mkdir /tmp/_output.tmp

      - name: Build haproxy al9
        run: |
          sudo bash run-build-al9.sh
          sudo systemctl stop docker.socket docker.service containerd.service
          sudo /bin/rm -fr /var/lib/docker/* /var/lib/containerd/* /mnt/docker-data/*

      - name: Build haproxy al8
        run: |
          sudo bash run-build-al8.sh
          sudo systemctl stop docker.socket docker.service containerd.service
          sudo /bin/rm -fr /var/lib/docker/* /var/lib/containerd/* /mnt/docker-data/*

      - name: Build haproxy ub2204
        run: |
          sudo bash run-build-ub2204.sh
          sudo systemctl stop docker.socket docker.service containerd.service
          sudo /bin/rm -fr /var/lib/docker/* /var/lib/containerd/* /mnt/docker-data/*

      - name: Build haproxy ub2004
        run: |
          sudo bash run-build-ub2004.sh
          sudo systemctl stop docker.socket docker.service containerd.service
          sudo /bin/rm -fr /var/lib/docker/* /var/lib/containerd/* /mnt/docker-data/*

      - name: Generate release tag env
        run: |
          haproxy_ver=$(/bin/ls -1 /tmp/_output.tmp/haproxy*el9_amd64.tar.xz | grep -i 'el9_amd64.tar.xz$' | sed -e 's|.*haproxy-||g' -e 's|_.*||g' | head -1)
          echo "haproxy_ver=${haproxy_ver}" >> $GITHUB_ENV

      - name: Upload files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.haproxy_ver }}
          files: /tmp/_output.tmp/*
          overwrite_files: true

      - name: Delete old release tag env
        run: |
          sed -e "/^haproxy_ver=/d" -i $GITHUB_ENV

